<div class="main-view">
<!-- Header Section -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Welcome To Smarter Simpler Solar</div>
                <div class="intro-get-started">Take the first step today</div>
            </div>
        </div>
    </header>

<!-- Get Started Section -->
    <section id="get-started">
        <div class="container">
            <div class="col-lg-12">
                <form name="getStarted">
                    <div class="fluid-container">
                        <div class="col-md-6 col-lg-offset-3">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="what is your average monthly electricity bill?" id="name">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-lg-offset-3 text-center">
                        <button type="submit" class="btn">Get Started</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <p class="wow zoomIn">Divine Power USA is a Kern County based residential and commercial solar company that has been building extraordinary solar systems through out California. Our quality workmanship has earned us a reputation as one of California's premiere contractors. We specialize in ground-up design and construction as well as a variety of contractor services through our partner program.</p>
                <p>Our projects have a 100% customer satisfaction record! 
                We are not happy until you're happy.</p>
            </div>
        </div>
    </section>


<!-- Why Solar Section -->
    <section id="why-solar">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Why Solar</h2>
                    <h3 class="section-subheading">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                   <!--  <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span> -->
                    <h4 class="why-heading">Why 1</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                   <!--  <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span> -->
                    <h4 class="why-heading">Why 2</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                  <!--   <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span> -->
                    <h4 class="why-heading">Why 3</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>

<!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <h3 class="section-subheading">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
            <div class="fluid-container">
                <div class="col-lg-6 form-group">
                    <input type="text" class="form-control" placeholder="name">
                </div>
                <div class="col-lg-6 form-group">
                    <input type="text" class="form-control" placeholder="email">
                </div>
            </div>
            <div class="fluid-container">
                <div class="col-lg-12 form-group">
                    <textarea class="form-control" placeholder="message" rows="4"></textarea>
                </div>
            </div>
            <div class="fluid-container">
                <div class="col-lg-12 form-group text-center">
                    <button class="btn">Send</button>
                </div>
            </div>       
        </div>
    </section>
</div>
