<div class="main-view">
<!-- Header Section -->
    <header>
        <div class="container">
            <div class="intro-text">
                <h1 class="intro-lead-in">Welcome To Smarter Simpler Solar</h1>
                <!-- <h4 class="intro-get-started">Take the first step today</h4> -->
            </div>
        </div>
    </header>

<!-- Get Started Section -->
  <!--   <section id="get-started">
        <div class="container col-lg-12">
            <form name="getStarted">
                <div class="fluid-container">
                    <div class="form-group col-md-6 col-lg-offset-3">
                        <input type="text" class="form-control" placeholder="what is your average monthly electricity bill?" id="name">
                    </div>
                </div>
                <div class="col-lg-6 col-lg-offset-3 text-center">
                    <button type="submit" class="btn">Get Started</button>
                </div>
            </form>
        </div>
    </section> -->

<!-- About Section -->
<!--     <section id="about">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
            <div class="col-lg-8 col-lg-offset-2">
                <p class=>Divine Power USA is a Kern County based residential and commercial solar company that has been building extraordinary solar systems through out California. Our quality workmanship has earned us a reputation as one of California's premiere contractors. We specialize in ground-up design and construction as well as a variety of contractor services through our partner program.</p>
                <p>Our projects have a 100% customer satisfaction record! 
                We are not happy until you're happy.</p>
            </div>
        </div>
    </section> -->

<section id="why-solar">
    <div class="container">
        <div class="sun-section col-lg-12 col-lg-offset-4">
            <img src="images/sun.png">
        </div>
        <div class="sun-section col-lg-12 col-lg-offset-4">
            <img src="images/solar-panel.png">
        </div>
        <div class="sun-section col-lg-12 col-lg-offset-4">
            <img src="images/house.png">
        </div>
    </div>
</section>

</section>
<!-- Why Divine Section -->
    <section id="why-divine">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Why Divine</h2>
                    <h3 class="section-subheading">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="images/local-icon.png">
                    <h4 class="why-heading">Local</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                  <img src="images/quality-icon.png">
                    <h4 class="why-heading">Quality</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                  <img src="images/guaranteed-icon.png">
                    <h4 class="why-heading">Guaranteed</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>

<!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <h3 class="section-subheading">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
            <div class="fluid-container">
                <div class="col-lg-6 form-group">
                    <input type="text" class="form-control" placeholder="name">
                </div>
                <div class="col-lg-6 form-group">
                    <input type="text" class="form-control" placeholder="email">
                </div>
            </div>
            <div class="fluid-container">
                <div class="col-lg-12 form-group">
                    <textarea class="form-control" placeholder="message" rows="4"></textarea>
                </div>
            </div>
            <div class="fluid-container">
                <div class="col-lg-12 form-group text-center">
                    <button class="btn">Send</button>
                </div>
            </div>       
        </div>
    </section>
</div>
